/*체ldine */
*{
padding: 0;
margin:0;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

body{
    background-color: #eee;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* P채is ja men체체*/
.header{
    background-color: #aaa;
    color: #fff;
    padding: 20px 40px;
}

.logo{
    font-size: 24px;
    font-weight: 400;
}

.menu{
    background-color: #000;
    line-height: 44px;
    height: 44px;
}

.menu ul{
    padding: 0 40px;
}

.menu li{
    display: block;
    float: left;
    margin: 0 20px 0 0;
}

.menu a{
    color: #fff;
    text-decoration: none;
}

.menu a:hover{
    color: #aaa;
}

/*sisu*/
.content{
    background-color: #fff;
    padding: 40px;
}

.content p, .content hr{
    margin: 20px 0;
}
 
.content img{
    width: 100%;
}

.content ul{
    margin: 0 60px;
}
/*jalus*/
.footer p{
    background-color: #000;
    color: #fff;
    padding: 30px 40px;
}